// В этом файле должны быть стили для БЭМ-блока block-5, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.block-5 {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(to right, #78d6ff, #0081e8);

  &__loader {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 180px;
    height: 180px;

    transform-style: preserve-3d;
    transform: perspective(500px) rotateX(45deg);
  }

  &__ring {
    display: block;
    position: absolute;
    border: 15px solid #fff;
    border-radius: 50%;

    transform: translateZ(-100px);
    box-shadow: 0 10px 0 #eee, inset 0 10px 0 #eee;
    animation: loader1 4.5s ease-in-out infinite;

    &--1 {
      animation-delay: 0;
    }

    &--2 {
      animation-delay: 1.5s;
    }

    &--3 {
      animation-delay: 3s;
    }
  }
}

@keyframes loader1 {

  0% {
    width: 100%;
    height: 100%;
    transform: translateZ(-100px);
  }

  25% {
    width: 100%;
    height: 100%;
    transform: translateZ(100px);
  }

  50% {
    width: 35%;
    height: 35%;
    transform: translateZ(100px);
  }

  75% {
    width: 35%;
    height: 35%;
    transform: translateZ(-100px);
  }

  100% {
    width: 100%;
    height: 100%;
    transform: translateZ(-100px);
  }
}
