// В этом файле должны быть стили для БЭМ-блока block-6, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.block-6 {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  align-items: center;
  justify-content: center;

  &__inner {
    position: relative;
    width: 112px;
    height: 112px;
  }

  &__box {
    display: block;
    position: absolute;
    border: 16px solid #eee;

    &--1 {
      width: 112px;
      height: 48px;
      margin-top: 64px;
      margin-left: 0;

      animation: animateBox1 4s forwards ease-in-out infinite;
    }

    &--2 {
      width: 48px;
      height: 48px;
      margin-top: 0;
      margin-left: 0;

      animation: animateBox2 4s forwards ease-in-out infinite;
    }

    &--3 {
      width: 48px;
      height: 48px;
      margin-top: 0;
      margin-left: 64px;

      animation: animateBox3 4s forwards ease-in-out infinite;
    }
  }
}
// stylelint-disable
@keyframes animateBox1 {

  0% {
    width: 112px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0;
  }

  12.5%, 25%, 37.5%, 50%, 62.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0;
  }

  75% {
    width: 48px;
    height: 112px;
    margin-top: 0;
    margin-left: 0;
  }

  87.5%, 100% {
    width: 48px;
    height: 48px;
    margin-top: 0;
    margin-left: 0;
  }
}

@keyframes animateBox2 {

  0%, 12.5%, 25%, 37.5% {
    width: 48px;
    height: 48px;
    margin-top: 0;
    margin-left: 0;
  }

  50% {
    width: 112px;
    height: 48px;
    margin-top: 0;
    margin-left: 0;
  }

  62.5%, 75%, 87.5%, 100% {
    width: 48px;
    height: 48px;
    margin-top: 0;
    margin-left: 64px;
  }
}

@keyframes animateBox3 {

  0%, 12.5% {
    width: 48px;
    height: 48px;
    margin-top: 0;
    margin-left: 64px;
  }

  25% {
    width: 48px;
    height: 112px;
    margin-top: 0;
    margin-left: 64px;
  }

  37.5%, 50%, 62.5%, 75%, 87.5% {
    width: 48px;
    height: 48px;
    margin-top: 64px;
    margin-left: 64px;
  }

  100% {
    width: 112px;
    height: 48px;
    margin-top: 64px;
    margin-left: 0;
  }
}
// stylelint-enable
