@mixin hide-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@mixin btn-hover {
  transition: all $transition-time;

  &:hover { // stylelint-disable-line
    transform: scale(1.05);
    transition: all $transition-time;
    box-shadow: 0.2rem 0.2rem 0.4rem rgba(0, 0, 0, 0.3);
  }
}
