-
  let currentUrl = ''
  let currentTitle = 'Home page'
  let currentDescription = ' '
  let lang = 'ru'
  let Bootstrap4 = false
  let jQuery = false
  let GoogleFonts = 'Open+Sans'
  let fontWeight = '300;400;600;700'
  let screenSm = '0'
  let screenMd = '660px'
  let screenLg = '960px'
