extends ../pug/layout.pug

append config
  -
    currentTitle = 'CSS UI Library'
    currentDescription = 'CSS UI Library'
    currentUrl = 'index.html'

block header

block content

  section.block-10
    .block-10__loader
      /// 15
      span.block-10__ring
      span.block-10__ring
      span.block-10__ring
      span.block-10__ring
      span.block-10__ring
      span.block-10__ring
      span.block-10__ring
      span.block-10__ring
      span.block-10__ring
      span.block-10__ring
      span.block-10__ring
      span.block-10__ring
      span.block-10__ring
      span.block-10__ring
      span.block-10__ring
  /// Trippy wave like loader
  ///.block-10

  section.block-9
    .block-9__loader
      span.block-9__circle.block-9__circle--1
      span.block-9__circle.block-9__circle--2
      span.block-9__circle.block-9__circle--3
      span.block-9__circle.block-9__circle--4
  /// Animated Glowing Gradient Loader
  ///.block-9

  section.block-8
    .block-8__inner
      .block-8__item
  /// Toggle switcher like loader
  ///.block-8

  section.block-7
    .block-7__loader
      .block-7__line.block-7__line--1
      .block-7__line.block-7__line--2
      .block-7__line.block-7__line--3
      .block-7__line.block-7__line--4
      .block-7__line.block-7__line--5
  /// Wave like loader
  ///.block-7

  section.block-6
    .block-6__inner
      .block-6__box.block-6__box--1
      .block-6__box.block-6__box--2
      .block-6__box.block-6__box--3
  /// Boxlike loader animation
  ///.block-6

  section.block-5
    .block-5__loader
      span.block-5__ring.block-5__ring--1
      span.block-5__ring.block-5__ring--2
      span.block-5__ring.block-5__ring--3
  /// Wavy Circle Loader Animation
  ///.block-5

  section.block-4
    h2.block-4__text Lo-fi pug single-origin coffee.
  /// Shining text animation effects
  ///.block-4

  section.block-3
    .block-3__inner.block-3__inner--left
      h2.block-3__text I'm baby hammock fanny pack yr seitan, shoreditch ramps palo santo occupy distillery.
    .block-3__inner.block-3__inner--right
      h2.block-3__text I'm baby hammock fanny pack yr seitan, shoreditch ramps palo santo occupy distillery.
  /// Stroke VS Solid Text (split screen)
  ///.block-3

  section.block-2
    h2.block-2__title Im baby photo booth gluten-free.

  section.block-1
    h2.block-1__title Pure CSS text typing animation
    //- Total no. of characters = 30


block footer
