extends ../pug/layout.pug

append config
  -
    currentTitle = 'CSS UI Library'
    currentDescription = 'CSS UI Library'
    currentUrl = 'index.html'

block header

block content

  section.block-5
    .block-5__loader
      span.block-5__ring.block-5__ring--1
      span.block-5__ring.block-5__ring--2
      span.block-5__ring.block-5__ring--3
  /// Wavy Circle Loader Animation
  ///.block-5

  section.block-4
    h2.block-4__text Lo-fi pug single-origin coffee.
  /// Shining text animation effects
  ///.block-4

  section.block-3
    .block-3__inner.block-3__inner--left
      h2.block-3__text I'm baby hammock fanny pack yr seitan, shoreditch ramps palo santo occupy distillery.
    .block-3__inner.block-3__inner--right
      h2.block-3__text I'm baby hammock fanny pack yr seitan, shoreditch ramps palo santo occupy distillery.
  /// Stroke VS Solid Text (split screen)
  ///.block-3

  section.block-2
    h2.block-2__title Im baby photo booth gluten-free.

  section.block-1
    h2.block-1__title Pure CSS text typing animation
    //- Total no. of characters = 30


block footer
