extends ../pug/layout.pug

append config
  -
    currentTitle = 'CSS UI Library'
    currentDescription = 'CSS UI Library'
    currentUrl = 'index.html'

block header

block content

  section.block-1
    h2.block-1__title Pure CSS text typing animation
    //- Total no. of characters = 30
  section.block-2
    h2.block-2__title Im baby photo booth gluten-free.


block footer
