extends ../pug/layout.pug

append config
  -
    currentTitle = 'Главная'
    currentDescription = 'Pink app'
    currentUrl = 'index.html'

block content
  h1 Top news

  ol
    li Man Found Having Tea Party With Donkey Again
    li Woman With Epic Tattoo Arrested for 37th Time
    li Viral Photo of Donkey Had Been Photoshopped
    li Man Buys Hats For Low Income Local Family
    li Man Jailed For Threatening Wife With Crumpled Hawk
    li Small Tornado Forcast in Northern Regions
