// В этом файле должны быть стили для БЭМ-блока block-4, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.block-4 {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  align-items: center;
  justify-content: center;

  &__text {
    font-size: 5rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    white-space: nowrap;
    color: transparent;

    overflow: hidden;
    background: linear-gradient(to right, #444, #fff, #444);
    background-size: 80%;
    background-repeat: no-repeat;
    background-clip: text;
    animation: animate2 3s linear infinite;
  }
}

@keyframes animate2 {

  0% {
    background-position: -500%;
  }

  100% {
    background-position: 500%;
  }
}
