// В этом файле должны быть стили для БЭМ-блока block-2, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.block-2 {

  $block-name:                &; // #{$block-name}__element

  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;

  &__title {
    position: relative;

    letter-spacing: 5px;
    text-transform: uppercase;
    color: transparent;

    &::after,
    &::before {
      content: 'Im baby photo booth gluten-free.';

      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border-right: 1px solid #000;

      white-space: nowrap;
      text-transform: uppercase;
      color: transparent;

      overflow: hidden;
      background: linear-gradient(to right, #f00, #ff0, #0ff, #0f0, #ffc800);
      background-clip: text;
      animation: type  6s steps(32) infinite;
      filter: blur(1px);
    }

    &::after {
      filter: blur(60px);
    }
  }
}

@keyframes type {

  0% {
    width: 0;
  }

  70% {
    width: 100%;
  }

  90% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}
